body{
    background-color: #FFF !important;
    color: #02162b !important;
    font-family: 'Archer', sans-serif !important;

}

.favicon{
    width: 2rem;
    margin-right: 1rem;
}

.item{
  color: 02162b;
  font-size: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.libertad{
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #331a3831, #331a3831 10px, #331a38 10px, #331a38 25px );
  background-color: #331a38;
  color: #FFF;
}

.soberania{
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #331a3831, #331a3831 10px, #331a38 10px, #331a38 25px );
  background-color: #331a38;
  color: #FFF;
}

.salud{
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #02ca6d65, #02ca6d65 10px, #01fe87 10px, #01fe87 25px );
  background-color: #01fe87;
}

.economia{
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #a5b40331, #a5b40331 10px, #ebff00 10px, #ebff00 25px );
  background-color: #ebff00;
}

.educacion{
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #9b013742, #9b013742 10px, #ff015b 10px, #ff015b 25px );
  background-color: #ff015b;
}

.seguridad{
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #02d7e275, #02d7e275 10px, #05f1ff 10px, #05f1ff 25px );
  background-color: #05f1ff;
}




.perfil{
    background-image: url(img/about.jpg);
    height: 20rem;
    background-size: cover;

}

.perfilbio{
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
    margin-bottom: 2rem !important;
    padding-left: 1rem  !important;
}

#section5 #section6 {
    margin-bottom: 0rem !important;
    padding-left: 0rem  !important;
}

.btn-primary {
    background-color: #02162b !important;
    border-color: #02162b !important;
}

#section4{
    padding-left: 0rem  !important;
}

#section4 h1, #section4 h3{
    padding-left: 2rem  !important;
}

#section4 ul{
    padding-left: 2rem  !important;
}

#section4 ul li{
    padding-bottom: 2rem  !important;
}

#section6{
    padding-left: 0rem  !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

#section1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #02162b !important;
    color: #FFF !important;
}

.carousel-caption{
    display: block !important;
    background-color: rgba(2, 22, 43, .75);

}



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
  }
  @media (max-width: 576px) {
    .social-icons {
      margin-top: 10px;
    }
  }

  .floating-contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegurar que esté por encima del resto del contenido */
  }
  .floating-contact-btn a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25D366; /* Color de fondo del botón de WhatsApp */
    color: #fff; /* Color del icono */
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  .floating-contact-btn a:hover {
    background-color: #128C7E; /* Cambio de color al pasar el mouse */
  }
  .phone-icon {
    background-color: #007bff !important; /* Color de fondo del botón de teléfono */
  }

  .downloads{
    background-color: #02162b !important;
    color: #FFF !important;
    margin: 2rem 0rem !important;
    margin-left: 0;
}

@media screen and (max-width: 300px) {
    h5, p {
      font-size: 70%; /* Reducir el tamaño del texto a la mitad */
    }
  }

  .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active{
    color: #02162b !important;
    background-color: #05f1ff !important;
    border-color: #05f1ff !important;
  }

  .btn-outline-primary {
    border-color: #05f1ff !important;
    color: #05f1ff !important;

}

.btn-primary.focus {
    box-shadow: 0 0 0 0.25rem rgba(5, 241, 255, 0.5) !important;
}

